* {
    margin: 0;
    padding: 0;
}
section#topten {
    float: left;
    width: 15%;
    background-color: aqua;
    text-align: center;
}
#movies {
    float: right;
    width: 85%;
    background-color: blueviolet;
}
body>header#header_list {
    background-color: crimson;
}

body>footer {
    background-color: gold;
    clear: both;
}

section#topten a {
    display: inline-block;
    background-color: red;
    border: 1px solid blue;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 3px;
    width: 80%;
}
/* queremos que no aparezca la info de la movie de forma inicial */
div.movie {
	display: none;
}
/* usamos esta clase para mostrar la movie */
div.unhide {
	display: inline;
}
